.pebble {
  height: 75px;
  width:75px;
  border-radius: 50%;
  margin: 5px;
  background-color: yellow;
}

.keepSpacing {
  background-color: transparent;
  border: none;
}

.r1 {
  background-color: blue;
}

.r2 {
  background-color: red;
}

.r3 {
  background-color: green;
}

.disappear {
  display: none;
}
