.logo {
  float: left;
  height: 100px;
  margin: 25px;

}

.content {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.symbolButton {
  border: 1px solid blue;
  margin: 50px;
  padding: 20px;
  cursor: pointer;
}

.rules {
  margin: 25px;
  float: left
}

/* div {
  border: 1px solid green;
} */
