body {
  background-image: url("/sciencecentrebackground.jpg");
}

.gameImage {
  width: 200px;
  display: block;
}

.gameChoice {
  display: inline-block;
  margin: 30px;
}

.logo {
  height: 70px;
  margin: 10px;
}

.header {
  width: 100%;
  grid-column: 1/4;
  height: 85px;
}

.homeButton {
  float: right;
  border-radius: 10rem;
  margin: 20px;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}
.content {
  margin-top: -25px;
  text-align: center;
  height: 700px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr 5fr 1fr;

}

.symbolButton {
  border: 1px solid blue;
  border-radius: 10rem;
  margin: 25px;
  padding: 20px;
  font-size: 20px;
  width: 150px;
  cursor: pointer;
  background-color: #ddd;
}

.rules {
  margin: 25px;
  float: left
}

.board-row {
  text-align: left;
}
